@model IList<Recipe>
@{
    ViewData["Title"] = "Table";
}

<h2>All Recipes</h2>
<table>
    <tr>
        <th class="table-label"></th>
        @{
            foreach (Recipe recipe in Model)
            {
                <th><a asp-controller="Recipes" asp-action="Detail" asp-route-name="@recipe.Id"><img class="table-food-img" src="~/images/@recipe.ImageName" alt="@recipe.ImageName" /></a></th>
            }
        }
    </tr>
    <tr>
        <td class="table-label">Name</td>
        @{
            foreach (Recipe recipe in Model)
            {
                <td class="green-td"><p>@recipe.Name</p></td>
            }
        }
    </tr>
    <tr>
        <td class="table-label">Type</td>
        @{
            foreach (Recipe recipe in Model)
            {
                <td><p>@recipe.RecipeType</p></td>
            }
        }
    </tr>
    <tr>
        <td class="table-label">Cook Time</td>
        @{
            foreach (Recipe recipe in Model)
            {
                <td class="green-td"><p>@recipe.CookTimeInMinutes.ToString() min</p></td>
            }
        }
    </tr>
    <tr>
        <td class="table-label">Ingredients</td>
        @{
            foreach (Recipe recipe in Model)
            {
                <td><p>@recipe.Ingredients.Count.ToString() ingredients</p></td>
            }
        }
    </tr>
    <tr>
        <td class="table-label">Rating</td>
        @{
            foreach (Recipe recipe in Model)
            {
                int stars = (int)recipe.AverageRating;
                if (stars < 1)
                {
                    stars = 1;
                }
                if (stars > 5)
                {
                    stars = 5;
                }
                string starImage = stars.ToString() + "-star.png";

                <td class="green-td"><img class="Table_Rating" src="~/images/@starImage" alt="@starImage" /></td>
            }
        }
    </tr>
</table>
